.background {
    -fx-background-color: #000000;
}

.border-pane {
    -fx-background-color: #3a3a3a;
}

.split-pane {
    -fx-background-color: #263238;
}

.main-backround{
    -fx-background-color: #263238;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.alert-field{
    -fx-background-color: #b71c1c;

}


.weather-square{
    -fx-background-color: #37474f;
    -fx-pref-width: 125;
    -fx-pref-height: 125;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 2);
}

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #00796B;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 5);

}

.tab *.text{
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.tab {
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-min-width: 146;
    -fx-pref-width: 146;
    -fx-background-color: #00796B;;
}

#top-bar{
    -fx-background-color: #00796B;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.text-area.weather-label {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-highlight-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.text-area.weather-value {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-font-size: 30px;
    -fx-highlight-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.weather-label {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-highlight-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

.weather-value {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-font-size: 30px;
    -fx-highlight-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

#pressure-text{
    -fx-font-size: 23px;
}

#visibility-text{
    -fx-font-size: 23px;
}

#sunset-text{
    -fx-font-size: 23px;
}

.temperature{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 52px;
    -fx-fill: #cccccc;
}

.description{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 14px;
    -fx-fill: #cccccc;
}

.alert-field {
    -fx-background-image: url("img.jpg");
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 5);
}

.icon-label {
    -fx-pref-height: 10;
    -fx-max-height: 15;
}

.jfx-hamburger> StackPane {
    -fx-background-color: white;
}


.text.city-name *.text {
    -fx-text-alignment: left;
}
.city-name {
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: left;
    -fx-font-weight: bold;

}


.day-label{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 18px;
    -fx-fill: #ffffff;
}

.day-temp{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 22px;
    -fx-fill: #ffffff;
}

.day-wind{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 18px;
    -fx-fill: #ffffff;
}

.day-hour{
    -fx-text-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-size: 18px;
    -fx-fill: #ffffff;
}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}



.anchor-pane{
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  #37474f;
    -fx-background-radius: 5em;
}



.chart{
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color:  transparent;
}

.chart-area-symbol { -fx-background-color: #0d47a1; }

.chart-series-area-line {
    -fx-stroke: #0d47a1;
    -fx-border-width: 30;
}

.chart-series-area-fill { -fx-fill: #0d47a199;}

Text {
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
}


.week-temp{
    -fx-font-size: 22px;
}

VBox{
    -fx-background-color: #1b252b;
}

.jfx-button{
    -fx-background-color: #37474f;
    -fx-font-size: 14px;
    -fx-text-fill: WHITE;

}
.jfx-button-raised{
    -fx-background-color: #37474f;

}

.drawer-top-bar{
    -fx-background-color: #00695c;
}

